
.container{
    display:flex;
    width:100%;
    height:100%;
    

}
.left{
    flex:left;
    width:50%;
    margin-left: 0 px;
    align-items: center;
    
    background-color:#E5E5E5;
    height:100vh;


}
.right{
    flex:right;
    width:50%;
    margin-right:0 px;
    align-items: center;
    text-align: center;
    height:100vh;
    background-image: url("Original Photo@2x.jpg");
    background-position:absolute;
    background-size:100vh 50vw;
    


}
.p1{
    position:fixed;
    top: 30px;
    left:30px;

}
.centre{
    position: relative;
   margin-top: 100px;
   margin-left:29px;
   
   
   

}
.call{
    background-color: black;
    color:white;

}

.top{
    margin-top:20px;
    margin-left:150px;
    color:white;
}
.space{
    margin-left:30px;
}